.header-clients {
	width: 100% !important;
	width: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-clients a button {
	padding: 15px 10px;
	border: none;
	border-radius: 15px;
	background-color: rgb(71, 153, 71);
	font-size: 15px;
	color: var(--font-menu-color);
	cursor: pointer;
}

.header-clients button:hover {
	background-color: rgb(77, 206, 77);
}

#clients-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  transition: all 0.4s ease-in-out;
  z-index: 25;
  padding: 30px;
}

#clients-modal.show {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.modal-body {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.edit-panel{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edit-panel form{
  width: 40%;
  height: auto;
  box-shadow: #000 0 5px 15px;
  border-radius: 15px;
  padding: 2rem;
}

.edit-panel .edit-footer{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  gap: 15px;
}