.sideBar.dark {
  background-color: var(--dark-color);
}

.theme-button {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
}

.theme-button .light-theme.hide,
.theme-button .dark-theme.hide {
  display: none;
}

.data-container.dark {
  background-color: var(--secondary-color);
  color: #fff;
}

header.dark {
  background-color: var(--hover-menu-color);
  color: #fff;
}

header.dark .title span{
  color: var(--dark-color);
}

.data-container.dark .table-container .dataTables_wrapper{
  background-color: #00000030;
  border-radius: 15px;
}

.data-container.dark .table-container table{
  color: #000 !important;
}

.data-container.dark .table-container table thead{
  background-color: #cccccc !important;
  color: #000 !important;
}

.data-container.dark .table-container .dataTables_filter input{
  background-color: #fff;
}

.data-container.dark .charts-container {
	background-color: rgba(0, 0, 0, 0.5);
}

.data-container.dark .dashboard-container .card .card-body{
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 8px #fff;
}

.data-container.dark .setting-card {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 8px #fff;
}

.data-container.dark .edit-link{
  color: #fff;
}

.data-container.dark .table-container .edit-link{
  color: #000 !important;
}

.data-container.dark .form-client,
.data-container.dark .form-payment,
.data-container.dark .footer-sale{
  background-color: rgba(0, 0, 0, 0.345);
}

.data-container.dark .sale-table table td{
  background-color: rgba(255, 255, 255, 0.112);
}

.data-container.dark .control-content{
  background-color: rgba(0, 0, 0, 0.345);
}

.data-container.dark .actions-container{
  background-color: rgba(0, 0, 0, 0.658);
}

.data-container.dark .form-client,
.data-container.dark .form-payment{
  background-color: var(--secondary-color);
}