/* * HERE IS THE GENERAL FORMS STYLES  */

.form-group {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form-group .form-control {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #5e5858;
  padding: 5px;
}

.submit-button {
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: #ffffff;
  background-color: green;
  cursor: pointer;
  user-select: none;
}

.submit-button:hover {
  background-color: lightgreen;
}

.cancel-button {
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgb(128, 0, 0);
  cursor: pointer;
  user-select: none;
}

.cancel-button:hover {
  background-color: rgb(151, 68, 68);
}

.alert {
  width: 350px;
  height: 350px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  z-index: 35;
  border-radius: 15px;
  box-shadow: 0 0 350px #5e5858;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 5;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #7ac142;
  stroke-miterlimit: 5;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px 10px #7ac142;
  animation: scale 4s infinite ease-in-out;
}

.alert-message{
  font-weight: 800;
}

.alert button{
  border: none;
  padding: 10px 15px;
  font-weight: 600;
  background-color: #7ac142;
  color: #ffffff;
  cursor: pointer;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%
  {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.form-compact{
  width: 100%;
  display: flex;
}

.form-compact .form-group{
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}